:root {
    --vermelho: #e50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* scrollbar edit */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--preto);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: var(--vermelho);
    border-radius: 30px;
}

/* ### */
/* ELEMENTOS BASE */
/* ### */

body {
    background-color: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 2.2rem;
}

header #hamburguer-icon button {
    background-color: transparent;
    color: #AAA;
    border: none;
}

#hamburguer-icon button i {
    font-size: 1.7rem;
}

#navbar {
    border: 1px solid gray;
    border-radius: .25rem .25rem 1rem 1rem;
    background-color: var(--preto);
    position: absolute;
    top: 3.1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;

    visibility: hidden;
}

#navbar a,
#search-icon button {
    color: #AAA;
    margin: 10px 20px;
}

#navbar a {
    text-decoration: none;
    letter-spacing: 1px;
}

#search-icon {
    display: inline-flex;
}

#search-icon button {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
}

#navbar a:hover,
#search-icon button:hover {
    color: #fff;
}

#search-box {
    background-color: var(--preto);
    border: 1px dashed var(--vermelho);
    border-radius: 4px;
    margin: 0 1rem;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

#search-box input {
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    padding: 3px 5px;
    outline: 0;
}

#search-box button {
    background-color: transparent;
    color: #AAA;
    border: none;
    font-size: 1.2rem;
    padding: 0 15px;
}

#search-box button:hover {
    color: white;
    font-weight: bold;
}

/* ################ */
/* FILME PRINCIPAL */
/* ############## */

.filme-principal {
    font-size: 1rem;
    text-align: justify;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('../img/capa-house.jpg');
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}

.filme-principal .container {
    width: 80%;
}

.filme-principal .descricao {
    letter-spacing: 1px;
    margin: 3rem 0 2rem 0;
}

.titulo {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 2.2rem;
}

div .botoes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    color: white;
    font-size: .9rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:first-child {
    margin-bottom: 15px;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}

/* LISTAGEM FILMES */

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 10px;
    padding-top: 50px;
}

.carrosel-filmes h3 {
    color: var(--vermelho);
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 2rem 0 0 1rem;
}

#primeiro-carrosel, #segundo-carrosel {
    margin: 10px 0;
    padding: 10px 0;
}
/* 
    ### RODAPÉ
*/
footer {
    height: 100px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}